# Deny access to .env file
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to all hidden files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
